body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */
.top-header {
    font-weight: normal;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.middle-header {
    font-weight: 300px;
    color: white;
    font-size: 42px;
    display: block;
    text-align: center;
    margin-top: 40px;
}

.bottom-header {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 42px;
    color: white;
    margin-top: 40px;
}

/* LINKS */
.download {
    color: aquamarine;
    display: block;
    text-align: center;
    margin-top: 40px;
}

/* VIDEO */
.video-container-p {
    margin-top: 30px;
}

#vid {
    display: block;
    margin: 0 auto;
}


.gray-p {
    color: gray;
    text-align: center;
    margin-top: 40px;
    font-size: 21px;
}

/* IMAGES */
.tent-img-p {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.phone-img-p {
    display: block;
    text-align: center;
    margin-top: 30px;
}

/* COPYRIGHT */
span {
    color: grey;
    display: block;
    text-align: right;
    margin: 30px 10px 20px;
    font-size: 21px;
}